.DisplayBlog {
    text-align: center;
  }
  
  .image {
    height: 20rem;
  }
  
  .body {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .blogs {

  }
  .column1 {
    margin-right: 10rem;
    width: 20rem;
  }
  
  .column1 {
    margin-right: 10rem;
    width: 20rem;
  }