

.h1 {
    font-size: 30px;
    margin-bottom: 0;

}
.h2 {
    font-size: 18px;
    margin-bottom: 100px;
}

.wikipost-display {
    border: 1px solid black;
    margin: 5px 375px;
    border-radius: 5px;
    text-align:center;
   
}
.wiki-scoll {
    overflow-y: auto;
    max-height: 100px;
}


