.AddBlog {
    text-align: left;
  }
  
  .body {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .column1 {
    margin-right: 10rem;
    width: 20rem;
    justify-content: left;
    text-align: left;
  }
  