@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

h1 {
    text-align: center;
    margin-top: 3%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
}

p.desc {
    font-size: 20px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

}

p.card-heading {
    font-size: 20px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

p.card-desc {
    font-size: 15px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex
}

.initiative-details {
    width: fit-content;
    margin-left: 30px;
    margin-right: 30px;
}

.initiative-image {
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.initiative-image img {
    width: fit-content;
    margin-left: 30px;
    margin-right: 0;
}

.initiative-card {
    display: flex;
    border-radius: 15px;
    margin: 15px;
    height: fit-content;
    box-shadow: 0px 0px 9px 2px rgb(226, 226, 226);
}

@media screen and (max-width: 900px) {
    .container {
        display: grid;
    }

    @media screen and (max-width: 1000px) {
        .initiative-card {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .initiative-card p {
            margin-top: 20px;
            /* Adjust spacing between elements */
        }

        .initiative-details {
            width: inherit;
            margin: inherit;
            margin-top: 0;
            margin-bottom: 15px;
        }

        .initiative-image {
            align-self: center;
            width: 0px;
            height: auto;
            margin-top: 15px;
            margin-bottom: 0;
            border-radius: 20px;
        }
        
        .initiative-image img {
            width: inherit;
        }
    }
}