.links {
    background-color: #ffc700;
    display: flex;
    justify-content: right;
    padding: 1rem;
    gap: 2rem
}
nav .usbButton {
    pointer-events: none;
}
.nav {
    padding-top: 0.5rem;
}
.nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;

}

nav .hamburger {
    display: none;
    padding: 10px;
    margin: 2px;
    background-color: grey;
}
.logo {
    padding-left: 2rem;
    justify-content: left !important;
    max-width: 50px;
    margin-bottom: -65px;
    background-color: #ffc700;
}
.nav a {
    color: black;
    text-decoration: none;

}

@media screen and (max-width : 760px) {
    .links {
        background-color: #ffc700;
        display: flex;
        justify-content: right;
        padding: 2rem;
        gap: 2rem
        }
    .usbButton {
        pointer-events: all;
    }
    nav .hamburger {
        margin-top: -1rem;
        display: flex;
        margin-right: -5%;
        background-color: #ffc700;
    }
    .nav ul {
        flex-direction: column;
        display: none;
    }
    .hamburger:hover + ul { 
        display: flex
    }
}