.links {
    background-color: #ffc700;
    display: flex;
    justify-content: right;
    padding: 1rem;
    gap: 2rem
}
nav .usbButton {
    pointer-events: none;
}
.nav {
    padding-top: 0.5rem;
}
.nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;

}

nav .hamburger {
    display: none;
    padding: 10px;
    margin: 2px;
    background-color: grey;
}
.logo {
    padding-left: 2rem;
    justify-content: left !important;
    max-width: 50px;
    margin-bottom: -65px;
    background-color: #ffc700;
}
.nav a {
    color: black;
    text-decoration: none;
    font-family: "Gill Sans", sans-serif;
    font-weight: 600;

}


  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    text-decoration: none;
    font-family: "Gill Sans", sans-serif;
    font-weight: 600;
    background-color: #ffc700;
    margin: 0;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 1rem;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 1rem;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

@media screen and (max-width : 760px) {
    .links {
        background-color: #ffc700;
        display: flex;
        justify-content: right;
        padding: 2rem;
        gap: 2rem
        }
    .usbButton {
        pointer-events: all;
    }
    nav .hamburger {
        margin-top: -1rem;
        display: flex;
        margin-right: -5%;
        background-color: #ffc700;
    }
    .nav ul {
        flex-direction: column;
        display: none;
    }
    .hamburger:focus + ul { 
        display: block
    }
}