/* PTPProjectTemplate.css file */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
  }

  
  .left-section,
  .right-section {
    width: 50%;
    padding: 20px;
    font-family:'Courier New', Courier, monospace;
  }
  
  .video-container {
    margin-top: 20px;
    margin-left: 17%;
  }

  .what-header {
    /* margin-bottom: 420px; */
  }

  .what-desc {
    text-align: left;
    margin-top: -18%;
    width: 75%;
    margin-left: 12%;
  }
  
  .developer-images {
    display: flex;
    /* justify-content: space-between; */
    /* letter-spacing: 7px; */
    margin-top: 20px;
    margin-left: -3%;
    /* margin-right: -420%; */
  }
  
  .developer-image {
    text-align: center;
    margin-left: 10%;

  }
  
  .developer-image img {
    width: 190px; /* Adjust as needed */
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .caption1 {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 15px;
    word-spacing: 1px;
  }

  .caption2 {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    word-spacing: 1px;
  }
  
  .creative-process-desc {
    /* margin-top: -18px; */
    margin-top: -18%;
    text-align: left;
  }

  .add-info-desc {
    margin-top: -18%;
    text-align: left;

  }

  .sub-sub-header {}

  /* Add these styles to your existing styles or create a new CSS file */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%; /* Adjust the width as needed */
  max-height: 80%; /* Adjust the height as needed */
  overflow-y: auto;
}

/* Add these styles to your existing styles or create a new CSS file */

/* ... Existing styles ... */

.modal-overlay.expanded {
  background: rgba(0, 0, 0, 0.8); /* Darker background when expanded */
}

.modal-content.expanded-content {
  max-width: 100%; /* Full width when expanded */
  max-height: 100%; /* Full height when expanded */
}

.expand-button {
  /* position: absolute; */
  font-family: 'Courier New', Courier, monospace;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff;
  /* background: gold; */
  padding: 5px 10px;
  border-radius: 0px;
  /* width: 5%;
  
  height: 1%; */
  max-width: 30px; /* Set the maximum width */
  max-height: 30px;
  /* max-height: 20px; Set the maximum height */
  /* margin-left: 37%; */
  margin-right: 1.5%;
  margin-top: 1%;
  
}

img:hover {
  transform: scale(1.2);
}

/* ... Other styles ... */
.overlay-headers {
  display: flex;
  justify-content: space-between;
}

.overlay-project-name {
  margin-left: 43%;
}

