.video-container {
    flex: 1;
    max-width: max-content;
}

.side-content {
    margin-left: 6%;
}

.main-content {
    margin: 20px;
    margin-right: 6%;
}

h4 {
    margin-top: 54px;
    margin-bottom: 20px;
    text-align: left;
}

h5 {
    font-size: large;
    margin-bottom: 12px;
}
